<!DOCTYPE html>
<html lang="es">

  <head>
    <title>Primera Pagina</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            min-height: 100vh;
            margin: 0;
            padding: 0;
        }
        .github-link {
            text-align: center;
            padding: 20px;
            background-color: #f0f0f0;
        }
    </style>

  </head>
  <body>
    <h1>POST </h1>

{{post}}
<h1> numero del post en db: {{post.id}}</h1>

<h2>{{post.title}}</h2>
<h2>{{post.description}}</h2>
<h2>{{post.date}}</h2>
<img src="{{post.image.url}}" alt="project.title">
{% if project.url %}
<a href="{{project.url}}">{{project.url}}</a>
{% endif %}


    <div class="github-link">
      <a href="https://github.com/EverDuvan" target="_blank" rel="noopener noreferrer">
          <strong>¡Mi GitHub! <img src="/media/imgs/R.png" alt="Logo R" width="20"> &copy; Ever Duvan</strong>
      </a>
  </div>

  </body>
</html>