<!DOCTYPE html>
<html lang="es">

  <head>
    <title>BLOG HOME</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            min-height: 100vh;
            margin: 0;
            padding: 0;
        }
        .github-link {
            text-align: center;
            padding: 20px;
            background-color: #f0f0f0;
        }
    </style>

  </head>
  <body>
    <h1>BLOG</h1>

    

    {% for post in posts%}
    <h2>
    <a href="{%url 'blog:post_detail' post.id%}">{{post.title}}</a>
  </h2>
    <p>{{post.description|truncatechars:100}}</p>
    <p>{{post.date|date:'d M y'|upper}}</p>
    <img src="{{post.image.url}}" alt="project.title">
    {% if project.url %}
    <a href="{{project.url}}">{{project.url}}</a>
    {% endif %}
    {%endfor%}


    <div class="github-link">
      <a href="https://github.com/EverDuvan" target="_blank" rel="noopener noreferrer">
          <strong>¡Mi GitHub! <img src="/media/imgs/R.png" alt="Logo R" width="20"> &copy; Ever Duvan</strong>
      </a>
  </div>

  </body>
</html>